{% layout "defaultLayout.liquid", title: 'Offices' %}
{% assign offices = this.getData %}

{% block content %}
    <main class="main">
        <div class="main__content-wrapper">
            <h2 class="main__title">Offices!</h2>

            <section class="offices">
                {% if offices.length == 0 %} 
                    <h3 class="offices__title">
                        Office list is empty
                    </h3>
                {% else %}
                    <ul class="offices__list">
                        {% for office in offices %}
                            <li class="offices__item offices-item">
                                <img 
                                    src="/img/office.jpg"
                                    alt="Картинка здания"
                                    class="offices-item__img"
                                >
                                <p class="offices-item__text">
                                    Company ID: {{ office.companyId }}
                                </p>
                                <p class="offices-item__text">
                                    Building ID: {{ office.buildingId }}
                                </p>
                                <p class="offices-item__text">
                                    Rental price: {{ office.rentalPrice }}
                                </p>
                                <p class="offices-item__text">
                                    Construction year: {{ office.constructionYear }}
                                </p>
                                <a
                                    href="/office?id={{ office.id }}"
                                    class="offices-item__button button"
                                >
                                    Подробнее
                                </a>
                                <a
                                    href="/officeChangeForm?id={{ office.id }}"
                                    class="offices-item__button button"
                                >
                                    Изменить
                                </a>
                                <a
                                    href="/deleteOffice?id={{ office.id }}"
                                    class="offices-item__button button"
                                >
                                    Удалить
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}