{% layout "defaultLayout.liquid", title: 'Buildings' %}
{% assign buildings = this.getData %}
{% assign cities = cities.getData %}

{% block content %}
    <main class="main">
        <div class="main__content-wrapper">
            <h2 class="main__title">All buildings!</h2>

            <section class="buildings">
                {% if buildings.length == 0 %} 
                    <h3 class="buildings__title">
                        Building list is empty
                    </h3>
                {% else %}
                    <ul class="buildings__list">
                        {% for building in buildings %}
                            <li class="buildings__item buildings-item">
                                <img 
                                    src="/img/building.jpg"
                                    alt="Картинка здания"
                                    class="buildings-item__img"
                                >
                                <address class="buildings-item__full-address">
                                    Address:
                                    {{ building.street }},
                                    {{ building.house }}
                                </address>
                                <a
                                    href="/building?id={{ building.id }}"
                                    class="buildings-item__button button"
                                >
                                    Подробнее
                                </a>
                                <a
                                    href="/buildingChangeForm?id={{ building.id }}"
                                    class="buildings-item__button button"
                                >
                                    Изменить
                                </a>
                                <a
                                    href="/deleteBuilding?id={{ building.id }}"
                                    class="buildings-item__button button"
                                >
                                    Удалить
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        </div>
    </main>
{% endblock %}