{% layout "defaultLayout.liquid", title: 'Building change form' %}
{% assign building = this.getData %}

{% block content %}
    <main class="main">
        <div class="main__content-wrapper">
            <h2 class="main__title">Complete a simple form!</h2>

            <form
                class="form" 
                method="post"
                action="/buildingChangeForm"
                name="buildingChangeForm"
            >
                <input
                    class="form__input"
                    type="hidden"
                    id="csrf_token"
                    name="csrf"
                    value="{{ csrfToken }}"
                >
                <div class="form__block">
                    <label 
                        class="form__label"
                        for="id"
                    >
                        Change the building's id, to change the data
                    </label>
                    <input
                        class="form__input"
                        type="number"
                        id="id"
                        name="id"
                        placeholder="Id"
                        value="{{ building.id }}"
                    >
                </div>
                <div class="form__block">
                    <label 
                        class="form__label"
                        for="city_id"
                    >
                        City id 
                    </label>
                    <input
                        class="form__input"
                        type="number"
                        id="city_id"
                        name="cityId"
                        placeholder="City id"
                        value="{{ building.cityId }}"
                    >
                </div>
                <div class="form__block">
                    <label
                        class="form__label"
                        for="buildingStreet"
                    >
                        Building street
                    </label>
                    <input
                        class="form__input"
                        type="text"
                        id="buildingStreet"
                        name="street"
                        placeholder="Building street"
                        value="{{ building.street }}"
                    >
                </div>
                <div class="form__block">
                    <label
                        class="form__label"
                        for="buildingHouse"
                    >
                        Building house
                    </label>
                    <input
                        class="form__input"
                        type="text"
                        id="buildingHouse"
                        name="house"
                        placeholder="Building house"
                        value="{{ building.house }}"
                    >
                </div>
                <button
                    class="form__button button button_transparent"
                    type="submit"
                >
                    Change building
                </button>
            </form>
        </div>
    </main>
{% endblock %}